* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: url(https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: rgb(255, 249, 249);
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  transform: translateY(15vh);
}

.logo {
  height: 80px;
  margin: 5px;
}

header h1 {
  margin: 5px;
  font-size: 2rem;
}

header p {
  margin: 2px 5px 20px;
}

.email label,
.password label {
  display: block;
  text-align: center;
}

.email input,
.password input {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 15px;
  height: 30px;
  width: 60%;
  padding: 5px 15px;
  margin: 5px;
  outline: none;
}

.remember {
  margin: 5px 0;
}

.remember input {
  cursor: pointer;
}

.submit input {
  margin: 10px 0;
  color: white;
  background-color: #e95744;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

footer {
  padding-bottom: 15px;
}

.icons-login img {
  width: 35px;
  height: 35px;
  margin: 10px 0;
  cursor: pointer;
}

.register a {
  text-decoration: none;
  color: #e95744;
}

.register a:hover {
  color: rgb(34, 156, 255);
}

@media only screen and (max-device-width: 700px) {
  .container {
    width: 300px;
  }
}

@media screen and (max-device-width: 400px) {
  .container {
    width: 200px;
  }

  .logo {
    width: 70px;
    height: 70px;
  }

  header h1 {
    font-size: 1.8rem;
  }

  .email input,
  .password input {
    width: 80%;
  }

  .icons-login img {
    width: 25px;
    height: 25px;
  }
}
